<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Screenshot Main</title>
</head>
<body>
<h1>Result</h1>
<p th:text="'content: ' + ${message} "></p>
</body>
</html>